
.front {
  width: 100%;
  height: 820px; 
  background: url('images/banner-illustration.svg') no-repeat ;
  opacity: 1;
  object-fit: cover;
  background-color: #0C2242;
}

.front-layout {
  padding-top: 30px;
  height: 98px;
}

.top-button {
  width: fit-content;
  font: normal normal 300 15px/23px Poppins;
  letter-spacing: 0px;
  border: 0px solid black;
  text-shadow: 3px 3px 6px #FFFFFF73;
  opacity: 1;
  margin-left: 15px;
}

.no-focus-border:focus {
  outline: none;
  box-shadow: none;
}

.pad-it-40 {
  padding-top: 40px;
}


.hunt-button {
  box-sizing: border-box;
  width: 177px;
  height: 50px;
  background-color: #FED45C;
  box-shadow: 5px 5px 20px #00000021;
  border-radius: 6px;
  border: none;
  opacity: 1;
}

.hunt-button > span {
  text-align: left;
  font: normal normal 500 15px/23px Poppins;
  font-family: sans-serif;
  letter-spacing: 0.75px;
  font-weight: bold;
  color: #000000;
  opacity: 1;
}


.container-for-front-page-info {
  margin-top: 100px;
  margin-left: 90px;
  width: 387px;
  height: 25px;
}

#welcome-text {
  text-align: left;
  font: normal normal 300 18px/27px Poppins;
  font-family: sans-serif;
  letter-spacing: 5.4px;
  color: #0C2242;
  text-transform: uppercase;
  opacity: 1;
  font-weight: bold;
}

#hr-under-welcome {
  float: left; 
  border: 1.5px solid black; 
  padding: 0; 
  background-color: black; 
  position: absolute;
  left: 0%;
}

.dot {
  height: 7px;
  width: 7px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

#heading-text {
  width: 400px;
  font-weight: bold;
  letter-spacing: 2.25px;
  color: #0C2242;
  opacity: 1;
}

#benefits-div {
  margin-top: 20px;
  width: 60%;
}

.benefits-text {
  padding-left: 10px;
  letter-spacing: 0.9px;
  color: gray;
  opacity: 1;
}

#btn-get-your-hunter {
  margin-top: 20px;
  width: 256px;
}

.partners-loc {
  height: 500px;
  background: #0C2242 0% 0% no-repeat padding-box;
  opacity: 1; 
}

.partners-heading {
  padding-top: 150px;
}
.partner-text {
  height: 28px;
  text-align: left;
  font: normal normal 400 20px/30px Poppins;
  font-family: sans-serif;
  letter-spacing: 6px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.partner-name {
  width: 186px;
  height: 75px;
  margin: 20px 10px 0 10px;
  background: #0C2242 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 20px #0000006B;
  border: 1px solid #FFFFFF;
  opacity: 0.24;
  border-radius: 6px;
}

#active-name {
  width: 229px;
  height: 104px;
  opacity: 1;
  margin: 0px 10px 0 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#active-name > img {
  opacity: 1;
}
.goals-loc {
  background-image: url(images/how-my-hunter-works-background-illustration.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 977px;
}

.dedicate-insurance {
  height: 936px;
  background: #0C2242 0% 0% no-repeat padding-box;
  opacity: 1;
}

.my-hunter {
  height: 644px;
  background: #E8DDDA 0% 0% no-repeat padding-box;
}

#my-hunter-small-heading {
  text-align: left;
  font: normal normal 600 15px/25px Poppins;
  letter-spacing: 5.4px;
  color: #EB6874;
  text-transform: uppercase;
  opacity: 1;
  font-family: sans-serif;
}

#my-hunter-big-heading {
  width: 90%;
  text-align: left;
  font: normal normal bold 40px/60px Poppins;
  letter-spacing: 2px;
  color: #0C2242;
  opacity: 1;
  font-family: sans-serif;

}

.client-says {
  height: 890px;
  background: #F1F1F1C4 0% 0% no-repeat padding-box;
  opacity: 1;
}

.footer {
  height: 463px;
  background: #0C2242 0% 0% no-repeat padding-box;
}

.footer-info {
  height: 330px ;
}

#footer-logo{
  padding-top: 65px;
}

#footer-logo-heading {
  padding-top: 0;
  letter-spacing: 4px;
  color: #EB6874;
  text-transform: uppercase;
  opacity: 1;
  padding-bottom: 10px;
}

#footer-logo-text {
  font-size: 7px;
  width: 147px;
  height: 9px;
  letter-spacing: 1.21px;
  color: #FFFFFF;
  opacity: 1;
  position: absolute; 
  top: 120px; 
  right: 127px;
}

h6 {
  text-align: left;
  font: normal normal medium 20px/30px Poppins;
  letter-spacing: 0px;
  color: #FFFFFFDE;
  opacity: 1;
}

#footer-text {
  box-sizing: border-box;
  width: 349px;
  height: 101px;
  margin-left: 60px;
  text-align: center;
  font: normal normal 300 15px/25px Poppins;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: #FFFFFF;
  opacity: 1;
  margin-top: 5px;
}

.footer-links {
  text-align: left;
  font: normal normal 300 16px/30px Poppins;
  letter-spacing: 0px;
  color: #FFFFFFDE;
  opacity: 0.8;
}

#rights-reserved {
  letter-spacing: 0px;
  color: #FFFFFFDE;
  opacity: 1;
}

#copyright-pad {
  padding-top: 10px;
}

